.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  
}

.photo-card {
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.info {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  background: rgb(143, 147, 146);
  color: #212121;
}

.info-item {
  text-align: center;
}

.info-item:not(:last-child) {
  margin-right: 15px;
}

.gallery img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
